---
layout: default
---

<div class="post">
  <article>
    <div style="width:100%; height:90vh;">
      <iframe
        src="{% if page.cv_pdf contains '://' %}
                {{ page.cv_pdf }}
              {% else %}
                {{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url }}
              {% endif %}"
        width="100%"
        height="100%"
        style="border:none;"
      >
      </iframe>
    </div>
  </article>
</div>
